.slideListParent,
.slideListParent li {
  margin: 0;
  padding: 0;
}

.slideListParent {
  list-style: none;
  position: absolute;
  grid-area: center;
  display: grid;
  grid-auto-flow: column;
  height: 80vh;
  opacity: 0;
  transition: opacity 0.2s ease-out;

  &.activeSlide {
    opacity: 1;
  }
}

.slideItemList {
  list-style: none;
  overflow: hidden;
  width: 100%;
  position: relative;
}